@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f3e8ff;
    overflow-y: scroll;
}

html.dark {
    background-color: #111827;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}